<div id="fondo" [style.backgroundColor]="categoryColor" class="mdl-layout">
  <div class="containerTutorial mdl-cell mdl-cell--12-col">
    <div [ngClass]="getVisibility(0)">
      <div class="mdl-card mdl-shadow--2dp center-items">
        <div class="mdl-card__title">
          <div class="mdl-layout">
            <div class="iconTitle mdl-cell mdl-cell--12-col" align="center">
              <i class="material-icons mdl-list__item-icon customIconTittle">attach_money</i>
            </div>
            <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast mdl-cell mdl-cell--12-col"
              align="center">
              ¿En qué gasto?
            </div>
            <p class="mdl-typography--font-light mdl-cell mdl-cell--12-col" align="center">
              Podrás tener información del uso que le diste a tu dinero durante los últimos 6 meses
            </p>
          </div>
        </div>
      </div>
    </div>
    <div [ngClass]="getVisibility(1)">
      <div class="mdl-card mdl-shadow--2dp center-items">
        <div class="mdl-card__title">
          <div class="mdl-layout">
            <div class="iconTitle mdl-cell mdl-cell--12-col" align="center">
              <i class="material-icons mdl-list__item-icon customIconTittle">check_circle_outline</i>
            </div>
            <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast mdl-cell mdl-cell--12-col"
              align="center">
              Te sugiero
            </div>
            <p class="mdl-typography--font-light mdl-cell mdl-cell--12-col" align="center">
              Cuéntame el valor de lo que deseas, yo lo calcularé y te daré mi opinión en base a tus ingresos y egresos
            </p>
          </div>
        </div>
      </div>
    </div>
    <div [ngClass]="getVisibility(2)">
      <div class="mdl-card mdl-shadow--2dp center-items">
        <div class="mdl-card__title">
          <div class="mdl-layout">
            <div class="iconTitle mdl-cell mdl-cell--12-col" align="center">
              <i class="material-icons mdl-list__item-icon customIconTittle">sentiment_satisfied_alt</i>
            </div>
            <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast mdl-cell mdl-cell--12-col"
              align="center">
              Tú decides
            </div>
            <p class="mdl-typography--font-light mdl-cell mdl-cell--12-col" align="center">
              Te ofrezco diferentes opciones para ahorrar o comprar:
            </p>
            <ul class="demo-list-icon mdl-list mdl-cell mdl-cell--12-col">
              <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content ">
                  <i class="material-icons mdl-list__item-icon">check</i>
                  El uso de tu TD 
                </span>
              </li>
              <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content ">
                  <i class="material-icons mdl-list__item-icon">check</i>
                  Uso de tu TDC con la mejor tasa y las cuotas adecuadas
                </span>
              </li>
              <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content ">
                  <i class="material-icons mdl-list__item-icon">check</i>
                  Ayuda monetaria (Pre-aprobados)
                </span>
              </li>
              <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content ">
                  <i class="material-icons mdl-list__item-icon">check</i>
                  Ahorrar para el cumplimiento de tus sueños
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a (click)="before()" id="beforeSlide" [style.visibility]="hasBefore()" class="mdl-button mdl-js-button mdl-button--fab colorAzul"
    data-upgraded=",MaterialButton,MaterialRipple">
    <i class="material-icons">
      navigate_before
    </i>
    <span class="mdl-button__ripple-container">
      <span class="mdl-ripple is-animating" style="width: 255.952px; height: 255.952px; transform: translate(-50%, -50%) translate(78px, 10px);">
      </span>
    </span>
  </a>

  <a (click)="next()" id="nextSlide" class="mdl-button mdl-js-button mdl-button--fab colorAmarillo" data-upgraded=",MaterialButton,MaterialRipple">
    <i class="material-icons" *ngIf="slideIndex < 2">
      navigate_next
    </i>
    <i class="material-icons" *ngIf="slideIndex == 2">
      check
    </i>
    <span class="mdl-button__ripple-container">
      <span class="mdl-ripple is-animating" style="width: 255.952px; height: 255.952px; transform: translate(-50%, -50%) translate(78px, 10px);">
      </span>
    </span>
  </a>
</div>
