#fondo {
  position: absolute;
  height: 100%;
  width: 100%;

  -webkit-transition: background-color 2000ms linear;
  -ms-transition: background-color 2000ms linear;
  transition: background-color 2000ms linear;
}

.mdl-card {
    width: 100%;
}

.letraBlanca {
  color: white;
}

.paddingTitle {
  padding-bottom: 30px;
}

#beforeSlide {
  cursor: pointer;
  position: fixed;
  display: block;
  left: 0;
  bottom: 0;
  margin-left: 40px;
  margin-bottom: 40px;
  z-index: 900;
}

#nextSlide {
  cursor: pointer;
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.colorAmarillo {
  background: rgb(255, 235, 59);
}

.colorAzul {
  background: rgb(83, 109, 254);
}

.containerTutorial {
  position: relative;
  min-height: 100vh;
}

.customIconTittle {
  color: #4caf50;
  font-size: 50px;
  height: 50px;
  width: 50px;
}
