<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
      <!-- Add spacer, to align navigation to the right in desktop -->
      <span class="android-mobile-title mdl-layout-title">
        <p class="logoTittle">Venn</p>
      </span>
      <div class="android-header-spacer mdl-layout-spacer"></div>
      <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search-field">
        </div>
      </div>
    </div>
  </div>

  <div class="android-drawer mdl-layout__drawer">
    <span class="mdl-layout-title">
        <p class="logoTittle stickBottom">
          <img src="assets/logo_pequeno.png" alt="Venn" width="50px">
          Venn
        </p>
    </span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" (click)="cambiarURL('/home')">Gastos</a>
      <a class="mdl-navigation__link" (click)="cambiarURL('/consulta')">¿Lo compro?</a>
      <div class="android-drawer-separator"></div>
      <a class="mdl-navigation__link" (click)="cerrarSesion()">Salir</a>
    </nav>
  </div>

  <div class="android-content mdl-layout__content">
  </div>
</div>