<div [class.loader-hidden]="!show">
  <div class="loader-overlay h-100 w-100">
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div>
          <div class="loader" id="Requestloader" *ngIf="show"></div>
        </div>
      </div>
    </div>
  </div>
</div>
