.loader-hidden {
  visibility: hidden;
  display: none;
  opacity: 0;
}

.loader-overlay {
  visibility: visible;
  display: inline;
  position: absolute;
  opacity: 1;
  z-index: 500000;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #dc3545; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
