<app-menu></app-menu>
<br>
<br>
<br>
<br>

<div class="mdl-card mdl-shadow--2dp center-items">
  <div class="mdl-card__title">
    <canvas #canvas id="canvas" style="height: 350px;width: 500px;">{{ chart }}</canvas>
  </div>
  <div class="mdl-card__actions mdl-card--border" align="center">
    <button (click)="sendURL('/consulta')" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      ASESÓRAME
    </button>
  </div>
</div>