/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f9f9f9 !important;
}

.mdl-card {
  margin-right: auto !important;
  margin-left: auto !important;
}

.mdl-card__title-text {
  color: black;
  font-size: xx-large;
}
