<app-menu></app-menu>
<br>
<br>
<br>
<br>
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <form novalidate [formGroup]="formValorProducto" (ngSubmit)="getPromediosSemestral()">
    <div class="mdl-card__title" style="background: url('assets/image01.jpg') center / cover;height: 200px;">
      <h2 class="mdl-card__title-text" style="color:black">Calcula tu compra</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Ingrese por favor el valor del producto que desea comprar
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input formControlName="valor" class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="valorCompra">
        <label class="mdl-textfield__label" for="valorCompra">Valor...</label>
        <span class="mdl-textfield__error">No es un valor válido !</span>
      </div>
    </div>
    <div class="mdl-card__actions" align="center">
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        ¿LO COMPRO?
      </button>
    </div>
  </form>
</div>
