<app-menu></app-menu>
<br>
<br>
<br>
<br>
<div class="mdl-card mdl-shadow--2dp center-items">
  <div class="mdl-card__title">
    <div class="mdl-typography--headline mdl-typography--font-thin">Selecciona tu banco</div>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="demo-list-action mdl-list">
      <div class="mdl-list__item" (click)="bancoSelect(1)">
        <span class="mdl-list__item-primary-content">
          <img src="assets/logo_bancolombia.png" alt="Bancolombia" width="50px">
          <span>Bancolombia</span>
        </span>
        <span class="mdl-list__item-secondary-action">
          <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-1">
            <input type="radio" id="list-option-1" class="mdl-radio__button" name="bank1" value="0" disabled />
          </label>
        </span>
      </div>
      <div class="mdl-list__item" (click)="bancoSelect(2)">
        <span class="mdl-list__item-primary-content">
          <img src="assets/logo_bbva.png" alt="BBVA" width="50px">
          <span>BBVA</span>
        </span>
        <span class="mdl-list__item-secondary-action">
          <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-2">
            <input type="radio" id="list-option-2" class="mdl-radio__button" name="bank2" value="0" disabled />
          </label>
        </span>
      </div>
      <div class="mdl-list__item" (click)="bancoSelect(3)">
        <span class="mdl-list__item-primary-content">
          <img src="assets/logo_bogota.png" alt="Banco de Bogotá" width="50px">
          <span>Banco de Bogotá</span>
        </span>
        <span class="mdl-list__item-secondary-action">
          <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-3">
            <input type="radio" id="list-option-3" class="mdl-radio__button" name="bank3" value="0" disabled />
          </label>
        </span>
      </div>
    </div>
  </div>
  <div class="mdl-card__actions" align="center">
    <button [disabled]="bancolombiaSelected === 0" (click)="send()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      Continuar
    </button>
  </div>
  <br>
</div>
