<div id="fondo">
  <div class="logoHackaton"></div>
  <div class="mdl-layout">
    <div class="containerLogin mdl-cell mdl-cell--12-col">
      <div class="mdl-card mdl-shadow--2dp center-items">
        <form novalidate [formGroup]="formLogin" (ngSubmit)="onSubmit()">
          <div class="mdl-card__title">
            <div class="mdl-layout">
              <div class="mdl-cell mdl-cell--12-col">
                <p class="logoTittle" align="center">
                  <img src="assets/logo_pequeno_naranja.png" alt="Venn" width="50px">
                  Venn
                </p>
                <br>
                <div class="mdl-typography--headline mdl-typography--font-thin" align="center">
                  Decide inteligente
                </div>
              </div>
              <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input formControlName="email" class="mdl-textfield__input" type="text" id="email">
                  <label class="mdl-textfield__label" for="email">Ingresa tu correo electrónico</label>
                </div>
              </div>
              <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input formControlName="password" class="mdl-textfield__input" type="password" id="password">
                  <label class="mdl-textfield__label" for="password">Ingresa tu contraseña</label>
                </div>
              </div>
            </div>
          </div>
          <div class="mdl-card__actions" align="center">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
              Iniciar sesión
            </button>
          </div>
          <br>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="stickBottom">
      <div class="stickLeft">
          Una marca de
          <br>
          <img src="assets/logo_bancolombia_grande.png" alt="Bancolombia" width="150px">
      </div>
      <div class="stickRight">
          Con apoyo de
          <br>
          <img src="assets/logo_sufi.png" alt="Sufi" width="150px">
      </div>
</div>
