#fondo {
  position: absolute;
  height: 100%;
  width: 100%;
}

.logoHackaton {
    position: absolute;
    background-image: url('/assets/logo_hackaton.png');
    background-size: cover;
    opacity: 0.2;
    width: 100%;
    height: 80px;
}

.containerLogin {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.logoTittle {
  font-family: 'Caveat', cursive;
  font-size: 70px;
  line-height: 70px;
}

.logoTittle img {
  margin-top: -15px;
}

.stickBottom {
  position: absolute;
  bottom: 95px;
  width: 100%;
  display: table;
}

.stickLeft {
  position: absolute;
  left: 0px;
  width: 50%;
  text-align: center;
}

.stickRight {
  position: absolute;
  right: 0px;
  width: 50%;
  text-align: center;
}
