<app-menu></app-menu>
<br>
<br>
<br>
<br>
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title" style="background: url('assets/image02.jpg') center / cover;height: 150px;">
    <h2 class="mdl-card__title-text">{{tituloRespuesta}}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <h6>{{subTituloRespuesta}}</h6>
    <ul class="demo-list-three mdl-list">
      <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar">attach_money</i>
          <a href="" style="color:blue;text-decoration: none;"><span>{{tituloPlanAhorro}}</span></a>
          <span class="mdl-list__item-text-body">
            {{textoPlanAhorro}}
          </span>
        </span>
      </li>
      <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons  mdl-list__item-avatar">redo</i>
          <a href="" style="color:blue;text-decoration: none;"><span>{{tituloAplazar}}</span></a>
          <span class="mdl-list__item-text-body">
            {{textoAplazar}}
          </span>
        </span>
      </li>
      <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons  mdl-list__item-avatar">done</i>
          <a href="" style="color:blue;text-decoration: none;"><span>{{tituloPreAprobado}}</span></a>
          <span class="mdl-list__item-text-body">
            {{textoPreAprobado}}
          </span>
        </span>
      </li>
    </ul>
  </div>
  <div class="mdl-card__actions" align="center">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      <button [routerLink]="['/consulta']" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        VOLVER A DECIDIR
      </button>
    </a>
  </div>
</div>
